@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav-close {
  display: none;
}

/* Header styles start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 65px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.75;
}

.header__burger {
  width: 40px;
  height: 20px;
  display: none;
  position: relative;
}

.burger__line {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #ffffff;
  height: 2px;
  left: 0;
}

.burger__line__first {
  top: 0;
}

.burger__line__second {
  top: 50%;
}

.burger__line__third {
  bottom: 0;
}

.header_active {
  background: #0e1d28;
}

/* Header styles end */
/* Main styles start */
.intro {
  min-height: 962px;
  background: url("../img/hero.png") no-repeat center;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro__title {
  margin-bottom: 22px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  color: #ffffff;
  max-width: 619px;
}

.intro__subtitle {
  margin-bottom: 59px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 546px;
}

.search-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-form__input {
  background: transparent url("../img/Oval.svg") no-repeat left 6px;
  background-size: 20px;
  padding-left: 43px;
  padding-bottom: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  width: 297px;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
}

.search-form__input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.search-form__input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.search-form__input::-ms-input-placeholder {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.search-form__input::placeholder {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.search-form__submit {
  background: #1b7dff;
  width: 171px;
  height: 58px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 39px 14px 39px;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
  cursor: pointer;
  opacity: 0.7;
  background: #102746;
}

/* Benefits styles start */
.benefits {
  margin-bottom: 111px;
}

.benefits__wrap {
  max-width: 1262px;
  background-color: #ffffff;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 0 100px;
}

.benefits__card {
  margin-bottom: 111px;
  grid-column: span 1;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-thumb {
  display: block;
}

.benefits__card-title {
  margin-bottom: 26px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

.benefits__card-subtitle {
  margin-bottom: 39px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.benefits__card-more {
  color: #006dfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  padding-right: 59px;
  background: url(../img/Shape.svg) no-repeat 95% center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-transform: uppercase;
}

.benefits__card-more:hover, .benefits__card-more:active, .benefits__card-more:focus {
  background: url(../img/Shape.svg) no-repeat right center;
}

.benefits__title {
  color: #102746;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
  background-color: white;
  width: 100%;
}

/* Benefits styles end */
/* Places styles start */
.places {
  margin-bottom: 131px;
}

.places-title {
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  color: #102746;
  position: relative;
  margin-right: 20px;
}

.places-title:after {
  position: absolute;
  bottom: -7px;
  left: 0;
  content: "";
  display: block;
  min-height: 3px;
  background-color: #006dfe;
  width: 253px;
}

@media screen and (max-width: 634px) {
  .places-title {
    margin-bottom: 25px;
  }
  .places-title:after {
    width: 40%;
  }
}

.places-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.places-view {
  color: #006dfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  padding-right: 59px;
  background: url(../img/Shape.svg) no-repeat 95% center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-transform: uppercase;
}

.places-view:hover, .places-view:active, .places-view:focus {
  background: url(../img/Shape.svg) no-repeat right center;
}

.places-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.places-card {
  overflow: hidden;
  position: relative;
}

.places-card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places-card-title {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places-card-pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: 0.15s all;
  transition: 0.15s all;
}

.places-card-pic_lg {
  height: 354px;
}

.places-card-pic_sm {
  height: 283px;
}

.places-card_size_lg {
  grid-column: span 3;
}

.places-card:hover .places-card-pic {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.places-card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.places-card_size_sm {
  grid-column: span 2;
}

/* Places styles end */
/* Tours styles start */
.tours {
  margin-bottom: 139px;
}

.tours-tour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 77px;
}

.tour__pic {
  grid-column: span 1;
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 85px;
}

.tour__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__link {
  color: #006dfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  padding-right: 59px;
  background: url(../img/Shape.svg) no-repeat 95% center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-transform: uppercase;
}

.tour__link:hover, .tour__link:active, .tour__link:focus {
  background: url(../img/Shape.svg) no-repeat right center;
}

/* Tours styles end */
.top {
  margin-bottom: 86px;
}

.top__title {
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  color: #102746;
  position: relative;
  margin-bottom: 54px;
}

.top__title:after {
  position: absolute;
  bottom: -7px;
  left: 0;
  content: "";
  display: block;
  min-height: 3px;
  background-color: #006dfe;
  width: 253px;
}

@media screen and (max-width: 634px) {
  .top__title {
    margin-bottom: 25px;
  }
  .top__title:after {
    width: 40%;
  }
}

.top__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 58px 52px;
}

.top__card {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-int {
  position: absolute;
  background: rgba(21, 24, 36, 0.6);
  height: 55px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__card-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.top__card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top__card-likes {
  background: url(../svg/like.svg) no-repeat right center;
  padding-right: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  margin-right: 14px;
}

.top__card-comments {
  background: url(../svg/comments.svg) no-repeat right center;
  padding-right: 23px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}

.top__card-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 31px;
}

.top__card-more {
  display: block;
  margin: auto 0 0 0;
  background: #1b7dff;
  width: 118px;
  height: 42px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 19px;
  text-decoration: none;
  text-align: center;
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active {
  cursor: pointer;
  opacity: 0.7;
  background: #102746;
}

.videos {
  width: 100%;
}

.videos__wrapper {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.videos__item {
  padding-top: 56.25%;
}

.videos__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Main styles end */
/* Footer start */
.footer {
  background: #0e1d28;
  padding: 119px 0;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}

.footer__menu-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.footer__menu-link:hover, .footer__menu-link:active, .footer__menu-link:focus {
  opacity: 0.5;
}

/* Footer end */
/* Media start */
@media screen and (max-width: 767px) {
  .header__burger {
    display: block;
  }
  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__item:last-child {
    margin-bottom: 0;
  }
  .header__link {
    font-size: 42px;
    line-height: 48px;
    color: #ffffff;
  }
  .header__nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #0e1d28;
    z-index: 10;
    padding: 75px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .header__nav_active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__nav-close {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 11;
    top: 20px;
    right: 20px;
    -webkit-transition: .2s all;
    transition: .2s all;
  }
  .header__nav-close:active, .header__nav-close:hover, .header__nav-close:active {
    opacity: .5;
  }
  .header__nav-close-line {
    display: block;
    height: 2px;
    background-color: #ffffff;
    top: 50%;
    position: absolute;
    width: 100%;
  }
  .header__nav-close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .intro {
    padding-top: 130px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 48px;
  }
  .intro__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .search-form__input {
    margin-right: 0;
    width: 100%;
    background: transparent url("../img/Oval.svg") no-repeat left 2px;
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 12px;
  }
  .search-form__input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 130%;
  }
  .search-form__input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 130%;
  }
  .search-form__input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 130%;
  }
  .search-form__input::placeholder {
    font-size: 16px;
    line-height: 130%;
  }
  .benefits__card {
    grid-column: span 3;
  }
  .header__wrapper {
    padding-top: 28px;
  }
  .search-form__submit {
    width: 100%;
  }
  .benefits__card-pic {
    margin-bottom: 20px;
  }
  .benefits__card-title {
    margin-bottom: 12px;
  }
  .benefits__card-subtitle {
    margin-bottom: 20px;
  }
  .places-card-pic_lg, .places-card-pic_sm {
    height: 245px;
  }
  .places {
    margin-bottom: 70px;
  }
  .tours {
    margin-bottom: 70px;
  }
  .tour__pic {
    grid-column: span 2;
    margin-bottom: 20px;
  }
  .tour__info {
    grid-column: span 2;
    margin-bottom: 20px;
  }
  .tours-tour {
    margin-bottom: 36px;
  }
  .tour__thumb_mob-first {
    -ms-grid-row: -1;
        grid-row-start: -1;
  }
  .top__card {
    grid-column: span 3;
  }
}

@media screen and (max-width: 963px) {
  .search-form__input {
    margin-bottom: 25px;
  }
  .benefits__cards {
    padding: 0 15px;
    -webkit-column-gap: 35px;
            column-gap: 35px;
  }
  .benefits__title {
    padding: 55px 15px;
  }
  .benefits__wrap {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .benefits {
    margin-bottom: 70px;
  }
  .benefits__card {
    margin-bottom: 60px;
  }
  .places-card_size_lg {
    grid-column: 6 span;
  }
  .places-card_size_sm {
    grid-column: 6 span;
  }
  .tour__title {
    margin-bottom: 25px;
  }
  .tours-tour {
    -webkit-column-gap: 35px;
            column-gap: 35px;
  }
  .tour__info {
    padding-left: 0;
  }
  .tour__description {
    margin-bottom: 25px;
  }
  .footer__logo {
    width: 30%;
  }
  .footer {
    padding: 60px 0;
  }
  .footer__nav {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .header__nav {
    padding: 70px 30px;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__nav {
    width: 100%;
  }
  .footer__menu {
    width: 50%;
    margin-bottom: 20px;
  }
  .top__cards {
    -webkit-column-gap: 35px;
            column-gap: 35px;
  }
  .top__card-pic {
    margin-bottom: 20px;
  }
  .top__card-desc {
    margin-bottom: 20px;
  }
  .top {
    margin-bottom: 43px;
  }
  .top__card {
    grid-column: span 6 !important;
  }
  .top__card-int {
    max-width: 386px;
  }
}

/* Media end */
/*# sourceMappingURL=style.css.map */